:root {
  --color-base-vocal: #ff4b9d;
  --color-base-dance: #38bbff;
  --color-base-visual: #ffb100;
  --color-base-stamina: #99dc66;
  --color-base-skill-special: #fb7dff;
  --color-base-skill-strength: #00dbff;
  --color-base-skill-score: #226cff;
  --color-base-skill-support: #77ff00;
  --color-base-skill-yell: #f3ff50;
  --background-color-base: #4c4c4c;
  --background-color-quiet--hover: rgba(0, 0, 0, 0.07);
  --background-color-quiet--active: rgba(0, 0, 0, 0.09);
  --color-base: #1626ff;
  --color-base--emphasized: #202122;
  --color-base--subtle: #72777d;
  --border-color-base: rgba(0, 0, 0, 0.05);
  --border-color-base--lighter: rgba(0, 0, 0, 0.02);
  --border-color-base--darker: rgba(0, 0, 0, 0.08);
}

html,
body {
  margin: 0;
  padding: 0;
}
#app {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  font-family: 'Yu Gothic', 'Microsoft YaHei';
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.base-vocal {
  color: var(--color-base-vocal);
}
.base-dance {
  color: var(--color-base-dance);
}
.base-visual {
  color: var(--color-base-visual);
}
.base-stamina {
  color: var(--color-base-stamina);
}
.base-skill-special {
  color: var(--color-base-skill-special);
}
.base-skill-strength {
  color: var(--color-base-skill-strength);
}
.base-skill-score {
  color: var(--color-base-skill-score);
}
.base-skill-support {
  color: var(--color-base-skill-support);
}
.base-skill-yell {
  color: var(--color-base-skill-yell);
}
.base-vocal-bg {
  background-color: var(--color-base-vocal);
}
.base-dance-bg {
  background-color: var(--color-base-dance);
}
.base-visual-bg {
  background-color: var(--color-base-visual);
}
.base-stamina-bg {
  background-color: var(--color-base-stamina);
}
.base-skill-special-bg {
  background-color: var(--color-base-skill-special);
}
.base-skill-strength-bg {
  background-color: var(--color-base-skill-strength);
}
.base-skill-score-bg {
  background-color: var(--color-base-skill-score);
}
.base-skill-support-bg {
  background-color: var(--color-base-skill-support);
}
.base-skill-yell-bg {
  background-color: var(--color-base-skill-yell);
}
.maskedimage {
  display: inline-block;
  width: 32px;
  height: 32px;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.maskedimage-vocal {
  mask-image: url('/img/icon/icon_parameter_vocal.png');
  -webkit-mask-image: url('/img/icon/icon_parameter_vocal.png');
  background-color: var(--color-base-vocal);
}
.maskedimage-dance {
  mask-image: url('/img/icon/icon_parameter_dance.png');
  -webkit-mask-image: url('/img/icon/icon_parameter_dance.png');
  background-color: var(--color-base-dance);
}
.maskedimage-visual {
  mask-image: url('/img/icon/icon_parameter_visual.png');
  -webkit-mask-image: url('/img/icon/icon_parameter_visual.png');
  background-color: var(--color-base-visual);
}
.maskedimage-stamina {
  mask-image: url('/img/icon/icon_parameter_stamina.png');
  -webkit-mask-image: url('/img/icon/icon_parameter_stamina.png');
  background-color: var(--color-base-stamina);
}
